body{
    margin:0;
    min-width: 250px;
}

div.contenedor{
    margin:auto;
    text-align: center;
    width: fit-content;
}

#input{
    width: 300px;
}

.eliminar, .portapapel, .compartir{
    position: relative;
    right: -270px;
    top: -9px;
    padding: 12px 0px 12px 4px;
}

.finalizar{
    margin: 4px 2px 0 -80px;
}

.fullscreen, #exit{
    margin-top: 19px;
}

#exit{
    display: none;
}

#encabezado{
    float:left;
    font-size: 22px;
}

input, button{
    font-size: 16px;
}

ul{
    padding: 0;
}

li{
    display: flex;
    text-align: left;
    margin: 10px 0 10px 0;
    height: 30px;
}

ul li{
    list-style-type: none;
    font-size: 18px;
    list-style-position:inside;
    border: 1px solid black;
}

ul li.tachar{
    text-decoration: line-through;
}


