body {
  background: #222;
  margin: 0;
  min-width: 15.625rem;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main header {
  width: 90vw;
  min-height: 6rem;
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

main header h1 {
  width: 90vw;
  font-size: 2rem;
  margin: 0;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

main form#nuevaTarea {
  max-width: 60rem;
  width: 90vw;
  height: 4rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
  margin-bottom: 1rem;
}

main form#nuevaTarea input {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  outline: none;
  padding: 0 6rem 0 1rem;
  font-size: 1rem;
  height: 4rem;
  border-radius: 0.25rem;
  width: 100%;
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
  -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

main form#nuevaTarea .boton {
  background: rgba(255, 255, 255, 0);
  border: 0.1rem solid rgba(255, 255, 255, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  padding: 0;
  height: 3rem;
  border-radius: 0.25rem;
  width: 3rem;
  position: absolute;
  right: 0.5rem;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

main hr {
  max-width: 60rem;
  width: 90vw;
  border-color: rgba(255, 255, 255, 0.2);
}

main #tasks {
  max-width: 60rem;
  width: 90vw;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #tasks li {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 4rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0.25rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

main #tasks li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main #tasks li div input {
  margin-right: 1rem;
  width: 1rem;
  height: 1rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

main #tasks li div p {
  color: white;
}

main #tasks li div input:checked + p {
  text-decoration: line-through;
}

main #exit {
  display: none;
}

main .boton, main .fullscreen, main .compartir, main .eliminar, main .portapapel {
  min-width: 3rem;
  min-height: 3rem;
  border: 0.0625rem solid white;
  color: white;
  margin: 0.5rem;
}
/*# sourceMappingURL=estilos.css.map */